<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Eigene virtuelle Welten im Unterricht erstellen.">
    <meta name="keywords" content="Schule, Unterricht, VR, 360, stories360, virtuelle Welt, virtuelle Welten">
    <title>stories360</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Neucha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="client/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body id="body">
  <div class="corner-ribbon top-right sticky shadow">BETA</div>
  <div id="app"></div>

  <script src="client/dist/main.js"></script>
  <script>
   function onYoutubeClientLoaded () {
    gapi.client.load('youtube', 'v3', function () {
      gapi.client.setApiKey('AIzaSyDSImvbM94mioKtJc9kixAYinvgWjR0Fo0');
    })
   }
  </script>
  <script src="https://apis.google.com/js/client.js?onload=onYoutubeClientLoaded" type="text/javascript"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98271505-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
